* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  background: #646cff;
  padding: 1rem 0;
}

header .header-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  padding: 0.5rem 0.2rem;
}

.form button {
  grid-column: 1 / span 2;
}

.meme {
  padding: 2rem;
  position: relative;
}
.meme img {
  width: 100%;
}

.meme span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f9f9f9;
  -webkit-text-stroke-width: 2px; /* Adjust the width as needed */
  -webkit-text-stroke-color: black; /* Adjust the color as needed */
}

.top {
  position: absolute;
  top: 3rem;
}

.bottom {
  position: absolute;
  bottom: 3rem;
}

@media screen and (min-width:1080px) {
  .meme-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 50vw;
    text-align: center;
  }
}